{% extends 'base.html' %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="rainbow-text text-center">Регистрация</h1>
            <form method="post" action="{{ url_for('register') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control") }}
                </div>
                <div class="form-group text-center">
                    {{ form.submit(class="btn btn-rainbow btn-lg") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}